@use "../../util/variables" as v;

.close-button {
  position: absolute;
  top: 0;
  right: .2em;
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: v.$error-red;
  transition: color 0.3s ease, transform 0.3s ease;
  margin: 0;
  padding: 0;

  &:hover {
    color: v.$error-red-hover;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }
}