@use "../../../../util/variables" as v;

.exercise-container {
    background-color: v.$border-color-light;
    border: .15rem solid v.$primary-grey;
    overflow: hidden;
    margin-top: .25em;
    padding-left: 1rem;
    padding-right: .25em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
        padding-right: .5em;
    }

    .close-button {
        position: relative;
        font-size: 2em;
    }
}

@media screen and (max-width: 900px) {
    .exercise-container {
        padding-left: .25em;

        .next-date {
            display: none;
        }

        .name {
            font-size: 2.5em;
        }

        .close-button {
            font-size: 2.5em;
        }
    }
}