// Colors
$background-color: #F7F7F7;
$secondary-background-color: #FFFFFF;
$primary-blue: #1d82fb;
$secondary-blue: #0056b3;
$accent-blue: #B7E7EB;
$text-color-dark: #333333;
$text-color-light: #ffffff;

// Feedback Colors
$success-green: #28a745;
$success-green-hover: #4bc05e;
$error-red: #dc3545;
$error-red-hover: #b02a37;

// Borders
$border-color: #696363;
$input-border-color: #007BFF;

// Misc
$hover-effect: #ddebfe;