@use "../../../util/variables" as v;
.weekly-display {
    width: 100%;
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        th, td {
            border: .1em solid v.$hover-effect-dark;
            padding: .5em;
            text-align: left;
            vertical-align: top;
        }

        th {
            background-color: v.$border-color-light;
            font-weight: bold;
        }

        td {
            min-height: 9.5em;
            overflow-y: auto;
        }
    }
}
