// index.scss

.addExerciseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
  }

  .exerciseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .addExerciseCard {
      margin: 0.625rem;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    color: black;

    .pagination__link {
      cursor: pointer;
      margin: 0.2rem;
      border: 0.08rem solid #ccc;
      color: black;
      padding: 0.5rem;
      border-radius: 50%;
      transition: background-color 0.3s ease;
      background-color: #f0f0f0;

      &:hover {
        background-color: #e0e0e0;
      }
    }

    .pagination__link--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .pagination__link--active {
      transition: background-color 0.3s ease;
      background-color: lightgray;
    }

    .pagination__arrow {
      cursor: pointer;
      font-size: 1.5rem;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  .icon-custom {
    color: white;
    background-color: black;
    padding: 0.5rem;
    border-radius: 50%;
  }
}