@use "../../../../../util/variables" as v;

.addExerciseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
  }

  .exerciseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .addExerciseCard {
      margin: 0.625rem;
    }
  }
}