@use "../../../../../util/variables" as v;

.searchBar {
    display: flex;
    align-items: center;
    border: .1em solid v.$hover-effect-dark;
    background-color: v.$secondary-background-color;
    border-radius: .25em;
    padding: .325em;
    width: 25vw;
    margin: 0;

    &:focus-within {
        border-color: v.$primary-blue;
        box-shadow: 0 0 .325em rgba(0, 123, 255, 0.25);
    }

    .searchInput {
        flex-grow: 1;
        border: none;
        outline: none;
        padding: .325em;
        font-size: 1em;
    }

    .clearButton {
        background: none;
        border: none;
        font-size: 1.25em;
        cursor: pointer;
        margin: 0;
        padding: 0;
        padding-right: .325em;
        margin-left: .325em;

        &:hover {
            color: v.$secondary-blue;
        }
    }
}

@media screen and (max-width: 1200px) {
    .searchBar {
        width: 35vw;
    }
}

@media screen and (max-width: 900px) {
    .searchBar {
        width: 50vw;
        font-size: 1.4em;
    }
}