@use "../../../../../util/variables" as v;

.exercise-container {
    background-color: v.$border-color-light;
    border: .15rem solid v.$hover-effect-dark;
    margin-top: .25em;
    padding-left: 1rem;
    padding-right:.25em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close-button {
        position: relative;
        font-size: 2em;
    }
}
