@use "../../util/variables" as v;

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    .pagination__link {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        cursor: pointer;
        font-size: 1rem;
        margin: 0.2rem;
        border: 0.08rem solid v.$primary-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        color: v.$text-color-dark;
        box-sizing: border-box;
        padding: 0.5rem;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        background-color: v.$border-color-light;

        &:hover {
          background-color: v.$primary-grey;
        }
      }
    }

    .pagination__link--disabled a {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .pagination__link--active a {
      transition: background-color 0.3s ease;
      background-color: v.$primary-grey;
    }

    .pagination__arrow {
      cursor: pointer;
      font-size: 1.5rem;
    }
  }

  .icon-custom {
    color: v.$text-color-light;
    background-color:  v.$text-color-dark;
    height: 1em;
    width: 1em;
    padding: 0.5rem;
    border-radius: 50%;

    &:hover {
      background-color: v.$text-color-dark;
    }
  }