@use "../../util/variables" as v;

.back-button {
    position: absolute;
    top: 0;
    left: 0.2em;
    font-size: 3rem;

    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: v.$text-color-dark;
    transition: color 0.3s ease, transform 0.3s ease;
    margin: 0;
    padding: 0;

    &:hover {
        color: black;
        transform: scale(1.1);
    }

    &:focus {
        outline: none;
    }
}
@media screen and (max-width: 700px) {
    .back-button {
        margin-left: 0.3em;
        margin-top: .1em;
    }
}