@use "../../util/variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.nav-bar {
    z-index: 3;
    font-size: 1.8em;
    max-height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: v.$accent-background-color;

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
            height: 1.6em;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Roboto", "sans-serif";
        width: 90%;

        a {
            text-decoration: none;
            color: v.$text-color-dark;
            border-bottom: .1em solid v.$border-color;
            transition: color 0.3s ease, transform 0.3s ease;

            &:hover {
                color: v.$secondary-blue;
                border-bottom-color: v.$secondary-blue;
                transform: scale(1.1);
            }

            &.active {
                color: v.$primary-blue;
                border-bottom-color: v.$primary-blue;
                transform: scale(1.1);
            }
        }
    }

    .profile {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: .25em;

        img {
            height: 1.2em;
            margin-right: .25rem;
            border-radius: 50%;
        }

        button {
            border: none;
            padding: 0;
            background: none;
            color: v.$primary-blue;
            font-size: .9em;
            display: flex;
            flex-direction: row;

            &:hover {
                color: v.$secondary-blue;
            }
        }
    }

    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .nav-bar {
        background: transparent;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        nav,
        .logo {
            display: none;
        }

        nav {
            width: 100vw;
            background: v.$accent-background-color;
            z-index: 2;
            position: absolute;

            &.mobile {
                font-size: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .8vh;
                padding-top: 1vh;
                padding-bottom: 2vh;
                box-shadow: 0 .3em .6em v.$border-color;
            }
        }

        .mobile-menu {
            color: v.$text-color-dark;
            font-size: 2rem;
            margin: .25rem 0 0 .25rem;
            display: block;
            z-index: 4;
            cursor: pointer;
        }

        .profile {
            align-self: center;

            img {
                height: 3vh;
            }

            button {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .nav-bar nav {
        &.mobile {
            height: 40vh;
            font-size: 3.5em;
        }
    }
}