@use "../../util/variables" as v;

#publish-plan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    gap: .5em;

    #publish-button {
        padding: .38rem;
        height: 100%;
        font-size: 1.1rem;
        border: 0.15rem solid v.$border-color;
        border-radius: 10%;
        color: v.$text-color-dark;
        background-color: v.$accent-background-color;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: darken(v.$accent-background-color, 5%);
            border-color: v.$primary-blue;
        }
    }
}