@use "../../util/variables" as v;
footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: v.$accent-background-color;
}

// When not on destop hides footer
@media screen and (max-width: 1024px) {
    footer {
        display: none;
    }
}