@use "../../util/variables" as v;
footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    z-index: 1;
    background-color: v.$accent-background-color;
}

@media screen and (max-width: 1024px) {
    footer {
        display: none;
    }
}