@use "../../util//variables" as v;

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .auth-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2em;
        border-radius: .6em;
        box-shadow: 0 .25em .6em v.$border-color;
        background-color: v.$secondary-background-color;
        width: 25vw;

        h2 {
            margin: 0;
            font-size: 2.4em;
        }

        label {
            align-self: flex-start;
            margin-top: 1em;
            font-size: 1.4em;
        }

        input {
            width: 100%;
            padding: 0.6em;
            margin-top: 0.5em;
            font-size: 1em;
            border: .05em solid v.$primary-grey;
            border-radius: .3em;
            box-sizing: border-box;

            &:focus {
                outline-color: v.$primary-blue;
            }
        }

        button {
            margin-top: 1.5em;
            padding: 0.75em;
            width: 100%;
            border: none;
            border-radius: .3em;
            background-color: v.$primary-blue;
            color: white;
            font-size: 1em;
            cursor: pointer;

            &:hover {
                background-color: v.$secondary-blue;
            }

            &:disabled {
                background-color: v.$primary-grey;
                color: v.$text-color-dark;
                cursor: not-allowed;
                opacity: 0.6;
            }
        }

        .error {
            color: v.$error-red;
            font-weight: bold;
            font-size: 1.25em;
            margin-bottom: 0;
        }

        .toggleAuth {
            margin-top: 1em;
            margin-bottom: 0;
            font-size: 1.25em;

            .toggleLink {
                color: v.$primary-blue;
                text-decoration: underline;
                cursor: pointer;
                transition: color 0.2s;

                &:hover {
                    color: v.$secondary-blue;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .auth-container .auth-form {
        width: 33vw;
    }
}

@media screen and (max-width: 1024px) {
    .auth-container .auth-form {
        width: 40vw;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 900px) {
    .auth-container .auth-form {
        width: 50vw;
        font-size: 1.8em;
    }
}

@media screen and (max-width: 700px) {
    .auth-container .auth-form {
        width: 75vw;
    }
}

@media screen and (max-width: 500px) {
    .auth-container .auth-form {
        width: 85vw;
        font-size: 2em;
    }
}