.exercise-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25em; 
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }
  