@import 'react-calendar/dist/Calendar.css';

.exercise-page {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .highlighted-date {
      background-color: rgb(183, 231, 235);
    }

    .react-calendar__tile--active {
      background-color: #006edc;
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }
  