@use "../../../../../../../util/variables" as v;

.exercise {
  width: 25vw;
  height: 25vw;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  padding-top: 0;
  box-sizing: border-box;
  background-color: v.$secondary-background-color;
  position: relative;

  border-bottom: .45rem solid v.$secondary-blue;
  box-shadow: 0.25rem 0.25rem .5rem v.$border-color;
  border-radius: .25em;
  overflow: hidden;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
  }

  .tags {
    font-size: 1.2em;
  }

  img {
    height: 80%;
  }

  .add-exercise-button {
    position: absolute;
    top: .25em;
    right: .25em;
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    color: v.$secondary-blue;
    font-size: 3rem;

    transition: color 0.3s ease;
    cursor: pointer;

    &:hover {
      color: v.$primary-blue;
    }

    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 1600px) {
  .exercise img {
    height: 75%;
  }
}

@media screen and (max-width: 1250px) {
  .exercise {
    width: 42vw;
    height: 42vw;
  }
}

@media screen and (max-width: 1024px) {
  .exercise {
    .tags {
      font-size: 1.8em;
    }

    h1 {
      font-size: 5em;
    }
  }
}

@media screen and (max-width: 600px) {
  .exercise {
    width: 68vw;
    height: 68vw;

    h1 {
      font-size: 7.5em;
    }
  }
}

@media screen and (max-width: 500px) {
  .exercise {
    width: 77vw;
    height: 77vw;

    .tags {
      gap: .5em;
      font-size: 2.25em;
    }

    h1 {
      font-size: 9em;
    }
  }
}

@media screen and (max-width: 433px) {
  .exercise {
    padding-bottom: 1.5rem;
    h1 {
      font-size: 8em;
    }
  }
}