@use "./util/variables" as v;

@font-face {
    font-family: "Helvetica Neue";
    src: url("./assets/fonts/helvetica-neu.ttf") format("ttf");
}

body,
html {
    margin: 0;
    font: 300 16px "Helvetica Neue", "sans-serif";
    color: v.$text-color-dark;
    background-color: v.$background-color;
    overflow-x: hidden;
    user-select: none;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 1.5em;
}

header,
footer {
    min-height: 2em;
}

main {
    flex: 1;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .25em;

    p {
        margin-bottom: 0;
        padding: .125em;
        background-color: #ddebfe;
        color: v.$primary-blue;
        font-weight: bold;
        border-radius: 15%;
    }
}

//Small laptops/giant tablets
@media screen and (max-width: 1024px) {
    body {
        font-size: 10px;
    }
}

//tablets
@media screen and (max-width: 900px) {
    body {
        font-size: 8px;
        background-color: red;
    }
}

//phones
@media screen and (max-width: 500px) {
    body {
        font-size: 6px;
        background-color: yellow;
    }
}