@use "./util/variables" as v;

@font-face {
    font-family: "Helvetica Neue";
    src: url("./assets/fonts/helvetica-neu.ttf") format("ttf");
}

body,
html {
    margin: 0;
    font: 300 16px "Helvetica Neue", "sans-serif";
    color: v.$text-color-dark;
    background-color: v.$background-color;
    overflow-x: hidden;
    user-select: none;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 1.5em;
}

header,
footer {
    min-height: 2em;
}

main {
    flex: 1;
}

// Adds ellipsis when overflow is occuring
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}

// Base button
.button {
    background-color: v.$primary-blue;
    color: v.$text-color-light;
    border: none;
    text-align: center;
    border-radius: .25rem;
    padding: 0.5rem 1rem;
    margin-top: .5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, opacity 0.3s;

    &.active {
        &:hover {
            background-color: v.$secondary-blue;
        }
    }

    &.disabled {
        background-color: v.$primary-grey;
        cursor: not-allowed;
        opacity: 0.6;
    }
}

// Small laptops/giant tablets
@media screen and (max-width: 1024px) {
    body {
        font-size: 10px;
    }
}

// Tablets
@media screen and (max-width: 900px) {
    body {
        font-size: 8px;
    }
}

// Phones
@media screen and (max-width: 500px) {
    body {
        font-size: 6px;
    }
}