@use "../../../../../util//variables" as v;
.bodyPartSelector {
    position: relative;
    overflow: hidden;
    width: 80vw;
    margin: 0;
    padding: 1em 3vw;

    .scrollButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 3rem;
        height: 3rem;
        background-color: v.$secondary-background-color;
        border: .125em solid v.$primary-grey;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: v.$hover-effect;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .left {
        left: 0;
    }


    .right {
        right: 0;
    }
}
@media screen and (max-width: 1600px) { .bodyPartSelector { padding: 1em 5vw;} }
@media screen and (max-width: 1024px) { .bodyPartSelector { padding: 1em 7vw;} }
@media screen and (max-width: 650px) { .bodyPartSelector { padding: 1em 9vw;} } 
@media screen and (max-width: 500px) {
    .bodyPartSelector {
        width: 66vw;
        padding: 1em 10vw;

        .scrollButton {
            width: 2.5rem;
            height: 2.5rem;
            svg {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }
}
@media screen and (max-width: 440px) { .bodyPartSelector { padding: 1em 11vw;} } 