@use '../../../../../../../util/variables' as v;
.bodyPartCard {
    font-size: 2em;
    font-weight: bold;
    margin: .5em;
    padding: 0;
    min-height: 5em; 
    height: 28vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
    user-select: none;
    border: 0.25rem solid v.$text-color-dark;
    box-sizing: border-box;
    transition: transform 0.2s ease;
    background-color: v.$secondary-background-color;

    &:hover {
        transform: scale(1.05);
    }

    &:focus {
        outline: none;
    }

    .icon {
        color: v.$secondary-blue;
        font-size: 9vh;
    }
}

.selected {
    transform: scale(1.05);
    background-color: v.$accent-blue;
}

@media screen and (max-width: 600px) { .bodyPartCard { height: 20vh;} }