@use "../../util/variables" as v;

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto !important;
    background-color: v.$secondary-background-color;
    padding: 0 2rem 0 2rem;
    margin: 0;
    z-index: 101;
    border-radius: .5rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    h1 {
        padding-right: 2.5rem;
    }
}

// Overlay for background
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: v.$text-color-dark;
    backdrop-filter: blur(.625em);
    z-index: 100;
}

.no-scroll {
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 0;
    }
}

// Pop-up size variations
.big-pop-up {
    height: 80vh;
    width: 50vw;
}

.small-pop-up {
    width: 30vw;
    height: auto;
}

.medium-pop-up {
    width: 50vw;
    min-height: 25vh;
    max-height: 50vh;
}

@media screen and (max-width: 1400px) {
    .big-pop-up {
        width: 60vw;
    }

    .small-pop-up {
        width: 40vw;
    }

    .medium-pop-up {
        width: 65vw;
    }
}

@media screen and (max-width: 1024px) {
    .big-pop-up {
        width: 80vw;
    }

    .small-pop-up {
        width: 45vw;
        font-size: 1.5em;
    }

    .medium-pop-up {
        width: 70vw;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 550px) {
    .medium-pop-up {
        min-height: 88vh;
    }
}

@media screen and (max-width: 900px) {
    .small-pop-up {
        width: 50vw;
        font-size: 1.8em;
    }

    .medium-pop-up {
        width: 80vw;
        h1 {
            font-size: 3em;
        }

        .weekly-display table th {
            font-size: 1.6em;
            width: 20vw;
        }
    }
}

@media screen and (max-width: 700px) {
    // Makes room for back button
    .pop-up .pop-up-plan-container .pop-up-header {
        margin-left: 5em;
    }

    .big-pop-up {
        width: 88vw;
        height: 97vh;
        border-radius: 0%;
    }

    .medium-pop-up {
        width: 90vw;

        .weekly-display table th {
            font-size: 1.5em;
            width: 15vw;
        }
    }

    .small-pop-up {
        width: 80vw;
        font-size: 1.8em;
    }
}

@media screen and (max-width: 545px) {

    .big-pop-up {
        width: 85vw;
        height: 98vh;
        border-radius: 0%;
    }

    .pop-up .pop-up-plan-container .pop-up-header {
        padding-top: 6em;
        margin-right: 0;
        padding-right: 0;
    }

    .medium-pop-up .weekly-display table td {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 480px) {
    .big-pop-up {
        width: 82vw;
        height: 98vh;
    }
    .medium-pop-up {
        width: 85vw;
    }
}

@media screen and (max-width: 380px) {
    .big-pop-up {
        width: 80vw;
        height: 98vh;
    }
}