@use "../../util/variables" as v;

.exercise-pop-up-container {
    margin-top: 2em;
    text-align: left;

    .pop-up-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        padding-right: 2rem;

        h1 {
            margin: 0;
            font-size: 3em;
        }
    }

    .close-button {
        margin-right: 10em;
        padding-right: 10em;
        right: 5em !important;
    }

    .pop-up-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .exercise-info {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .exercise-gif {
                width: 30vw;
                border-radius: .5rem;
                box-shadow: .1rem .2rem .2rem v.$border-color;
            }

            .exercise-details {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                gap: 0.5rem;
                width: 25vw;

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    width: 100%;

                    li {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 0.5rem;
                        font-weight: bold;
                        font-size: 1.1em;

                        input,
                        .react-multi-date-picker {
                            width: 100%;
                            height: 2.5vh;
                            box-sizing: border-box;
                            border: .12em solid hsl(0, 0%, 80%);
                            padding-top: .2em;
                            padding-bottom: .2em;
                            border-radius: .25em;

                            &:focus {
                                outline: none;
                                border: .15em solid v.$primary-blue;
                            }
                        }
                    }

                    .update-container {
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }

        .instructions {
            h3 {
                margin: 0 0 0.5rem 0;
                font-size: 1.2rem;
            }

            ul {
                list-style-type: disc;
                padding-left: 1.5rem;

                li {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .exercise-pop-up-container {
        .pop-up-header h1 {
            font-size: 4.5em;
        }

        .pop-up-content {
            .exercise-info {
                .exercise-gif {
                    width: 40vw;
                }

                .exercise-details {
                    width: 33vw;

                    ul .update-container {
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .instructions {
                display: flex;
                align-items: center;
                flex-direction: column;

                h3 {
                    font-size: 4.5em;
                }

                ul li {
                    font-size: 2em;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) and (max-height: 550px) {
    .exercise-pop-up-container {
        .pop-up-content {
            .exercise-info {
                .exercise-details {
                    ul {
                        li {
                            label {
                                font-size: 2.5em;
                            }
                            input,
                            .react-multi-date-picker {
                                height: 5vh;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .exercise-pop-up-container {

        .pop-up-header h1 {
            font-size: 5em;
        }


        .pop-up-content {
            gap: 0;

            .exercise-info {
                display: flex;
                align-items: center;
                flex-direction: column;

                .exercise-gif {
                    width: 85vw;
                }

                .exercise-details {
                    width: 100vw;

                    ul {
                        li {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-size: 3.5em;

                            label {
                                margin-right: .5em;
                                white-space: nowrap;
                                text-align: right;
                                width: 23vw;
                            }

                            input,
                            .react-select,
                            .react-multi-date-picker {
                                width: 70vw;
                            }

                            .react-select {
                                font-size: 10px;
                            }
                        }

                        .update-container {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        .instructions {
            h3 {
                font-size: 5em !important;
            }

            ul li {
                font-size: 3em !important;
            }
        }
    }
}